$darkmode: true;
$primary: #80cfff;
$onPrimary: #00344c;
$primaryContainer: #004c6c;
$onPrimaryContainer: #c4e7ff;
$secondary: #b6c9d8;
$onSecondary: #21333e;
$secondaryContainer: #374955;
$onSecondaryContainer: #d2e5f4;
$tertiary: #ccc1e9;
$onTertiary: #332b4b;
$tertiaryContainer: #4a4263;
$onTertiaryContainer: #e9ddff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #0F1012;
$background: #0F1012;
$onBackground: #e1e2e5;
$surface: #191c1e;
$onSurface: #e1e2e5;
$surfaceVariant: #41484d;
$onSurfaceVariant: #c1c7ce;
$outline: #8b9298;
$shadow: #000000;
$inverseSurface: #e1e2e5;
$inverseOnSurface: #2e3133;
$inversePrimary: #00658e;
